OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_API_KEY=sk-4e3xxxxx
LLM_MODEL_NAME=qwen3-max


EMBEDDING_PROVIDER=dashscope
EMBEDDING_MODEL_NAME=text-embedding-v4



QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=477a4697438e0cc3db5

